<html>
<head></head>
<body ng-controller="TestCtrl">
  <input type="text" name="username" honey-hash-bind/>
  <input type="text" name="email" honey-hash-bind/>
  <div>
    <label>Radio Button Group</label>
    <input type="radio" name='sex' value="male" honey-hash-bind/>
    <input type="radio" name = 'sex' value="man" honey-hash-bind/>
  </div>
  <select name="birth"  honey-hash-bind>
    <option ng-repeat='item in list' value="{{item}}" honey-hash-bind>{{item}}</option>
  </select>
  <div>
    <label>Checkbox group</label>
    ball-a<input type="checkbox" name="ball" value="ball-a" honey-hash-bind/>
    ball-b <input type="checkbox" name="ball" value="ball-b" honey-hash-bind/>
    dance-a <input type="checkbox" name="dance" value="dance-a" honey-hash-bind/>
  </div>
  <div>
    <button ng-click="bind()">Bind</button>
  </div>
  <script src="lib/angular.min.js"></script>
  <script src="module/angular-bind-hash.js"></script>
 <script src="input.js"></script>
</body>
</html>